body {

padding: 0;
margin: 0;
background-color: blanchedalmond;
font-family: Helvetica, sans-serif;
font-weight: 200;

}

.title {
 
font-family: Helvetica;
font-size: 50pt;
color: black;
margin-top: 150px;
text-align: center;
padding: auto;

}

.border {
    border-width:3px;
    border-style:solid;
    border-color:#287EC7;
   }

.image {

    
    margin-top: 100px;
    margin-bottom: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  
}

.logo {

    
    margin-top: 10px;
    margin-bottom: 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  
}

.responsive {

    max-width: 100%;
    height: auto;
    
}

.paragraph {

    font-family: helvetica;
    font-size: 25pt;
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
    text-align: left;


}

